@{
    ViewBag.Title = "Home Page";

}

@Scripts.Render("~/bundles/scroll")
@Styles.Render("~/Content/Index")

<html>
<head>


</head>
<body style="margin-left:-1px">
    <header>

        <div class="" style="width: 100%; position: fixed; top: 0px;left:0px; background-color:#fff;height:50px;z-index:1">
            <div class="container">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="main-menu">
                            <div class="collapse navbar-collapse">
                                <ul class="nav navbar-nav">
                                    <li class="active" style="list-style:none;float:left;"><a style="color:#000" class="headtitle" href="@Url.Action("Index","Home")">首页</a></li>

                                    <li class="smooth-menu" style="list-style:none;float:left;height:auto;padding-left:10px;">
                                        <a id="city" style="margin-left:20px;color:#000" href="#gallery" class="headtitle">介绍</a>
                                        @*<ul class="subclass" >
                                                <li class="subtext" >
                                                    <a class="headtitle" href="#">北京</a>
                                                </li>
                                                <li  class="subtext">
                                                    <a class="headtitle" href="#">上海</a>
                                                </li>
                                                <li  class="subtext">
                                                    <a class="headtitle" href="#">广州</a>
                                                </li>
                                            </ul>*@
                                    </li>
                                    <li class="" style="list-style:none;float:right;margin-right:20px"><a class="headtitle" style="color:#000" href="@Url.Action("Login","Home")">退出</a></li>
                                </ul>

                            </div>
                            @*<div id='cssmenu'>
                                <ul>
                                    <li><a style="color:#000"  href="@Url.Action("Index","Home")">首页</a></li>
                                    <li class='active has-sub'>
                                        <a  href='#'>国家</a>
                                        <ul>
                                            <li class='has-sub'>
                                                <a  href='#'>中国</a>
                                                <ul>
                                                    <li><a  href='#'>北京</a></li>
                                                    <li><a  href='#'>上海</a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'>
                                                <a  href='#'>美国</a>
                                                <ul>
                                                    <li><a class="headtitle" href='#'>纽约</a></li>
                                                    <li><a class="headtitle" href='#'>洛杉矶</a></li>
                                                </ul>
                                            </li>
                                            <li class='has-sub'>
                                                <a href='#'>日本</a>
                                                <ul>
                                                    <li><a class="headtitle" href='#'>东京</a></li>
                                                    <li><a class="headtitle" href='#'>名古屋</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>

                                    <li><a style="float:right;margin-left:1700px" href='@Url.Action("Login","Home")'>退出</a></li>
                                                    </ul>
                                                </div>*@
                        </div>
                    </div>
                </div>
                <div class="home-border"></div>
            </div>
        </div>

    </header>
    <div>
        <div class="banner" id="banner1" style="margin-top:30px;margin-bottom:0px">
            <!-- 添加图片 -->
            <div class="move" id="move">
                <ul>
                    <li class="imgclass">
                        <img src="~/img/office.png" alt="">
                        <div style="margin-top:-300px;margin-left:500px;margin-bottom:20px">
                            <span style="font-size:40px;">哈哈哈哈</span>
                        </div>
                        <div style="margin-left:500px;margin-bottom:20px">
                            <span>嘻嘻嘻</span>
                        </div>
                        <div style="margin-left:500px">
                            <a href="#" class="bannerlink">查看详情>></a>
                            <a href="#" class="bannerlink2">详细信息>></a>
                        </div>

                    </li>
                    <li class="imgclass"><img src="~/img/quick.jpg" alt=""></li>
                    <li class="imgclass"><img src="~/img/scene.png" alt=""></li>
                    <li class="imgclass">
                        <img src="~/img/wheat.jpg" alt="">
                        <div style="margin-top:-400px;margin-left:890px">
                            <img src="~/img/head1.png" class="img-circle">
                        </div>
                        <div class="container testimonial">
                            <h5>
                                Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
                            </h5>
                        </div>
                    </li>
                    <li style="background: rgba(0, 0, 0, 0.4);" class="imgclass">
                        <img src="~/img/ourcity.jpg" alt="">
                        <div style="margin-top:-450px;margin-left:630px;">
                            <h2 style="color:white;font-weight:700;font-size:64px;">
                                Welcome To Our City!
                            </h2>
                        </div>

                    </li>
                </ul>
            </div>
            <!-- 添加控制条 -->
            <div class="ctrl" id="ctrl" style="top:460px;"></div>
        </div>

        <div style="margin-top:-60px">
            <section id="section-services" class=" bg-white">
                <div class="container">

                    <div class="row mar-bot40">
                        <div class="col-lg-4">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
                                <div class="mar-right20" style="float:left">
                                    <img src="~/img/LOGO.png">
                                </div>
                                <h3 class="logocontent">Responsive</h3>
                                <p>Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad.</p>
                            </div>



                            <div class="clear"></div>
                        </div>

                        <div class="col-lg-4">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
                                <div class="mar-right20" style="float:left">
                                    <img src="~/img/LOGO.png">
                                </div>
                            </div>
                            <h3 class="logocontent">Multi usage</h3>
                            <p>Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad.</p>

                            <div class="clear"></div>
                        </div>

                        <div class="col-lg-4">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
                                <div class="mar-right20" style="float:left">
                                    <img src="~/img/LOGO.png">
                                </div>
                            </div>
                            <h3 class="logocontent">Beautiful</h3>
                            <p>Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad.</p>

                            <div class="clear"></div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
                                <div class="mar-right20" style="float:left">
                                    <img src="~/img/LOGO.png">
                                </div>
                            </div>
                            <h3 class="logocontent">Valid HTML5</h3>
                            <p>Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad.</p>

                            <div class="clear"></div>
                        </div>

                        <div class="col-lg-4">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
                                <div class="mar-right20" style="float:left">
                                    <img src="~/img/LOGO.png">
                                </div>
                            </div>
                            <h3 class="logocontent"> Modern</h3>
                            <p>Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad.</p>

                            <div class="clear"></div>
                        </div>

                        <div class="col-lg-4">
                            <div class="hi-icon-wrap hi-icon-effect-5 hi-icon-effect-5a mar-top20">
                                <div class="mar-right20" style="float:left">
                                    <img src="~/img/LOGO.png">
                                </div>
                            </div>
                            <h3 class="logocontent">Fast loading</h3>
                            <p>Lorem ipsum dolor sit amet, elit persecuti efficiendi sit ad.</p>

                            <div class="clear"></div>
                        </div>

                    </div>
                </div>
            </section>
        </div>
        <div style="margin-top:80px">
            <img style="width:1920px;height:500px" src="~/img/a2.png">
        </div>
       
        <div style="text-align:center;margin-top:60px;">
            <h3 style="font-size:40px">Thanks For Supporters</h3>
        </div>
        <div class="container" style="margin-bottom:60px">
            <div class="col-lg-4 supporters">
                <img src="~/img/ecocare.png">
            </div>
            <div class="col-lg-4 supporters">
                <img src="~/img/ecocare.png">
            </div>
            <div class="col-lg-4 supporters">
                <img src="~/img/ecocare.png">
            </div>
        </div>
        <div style="background-color:#303036;height:280px">
            <div class="container footerhead" style="padding-top:40px">
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer"  style="padding-left:100px">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer"  style="padding-left:100px">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer"  style="padding-left:100px">
                    <a href="#" style="color:white">关于我们</a>
                </div>
            </div>
            <div class="container footerhead">
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
            </div>
            <div class="container footerhead">
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
                <div class="col-xs-3 footer">
                    <a href="#" style="color:white">关于我们</a>
                </div>
            </div>
            <div class="container" style="margin-top:100px">
                <span style="color:white;padding-left:500px;padding-bottom:0px">&copy;2018-我的ASP.NET应用程序</span>
                </div>
        </div>
</body>
</html>
<style>
  
    /*.banner {
        position: relative;
        top: 0;
        margin: 50px auto;
        width: 450px;
        height: 260px;
    }

        .banner .move {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }*/

    /*img {
        width: 1920px;
        height: 700px;
    }
    .imgclass {
        left: 0px
    }
    .headtitle {
        text-decoration: none;
        font-family:Arial,'Microsoft YaHei';
    }
        .headtitle:hover {
            color: #ff9d00 !important;
        }*/
</style>
@*<link href="~/Content/index.css" rel="stylesheet" />
<link href="~/Content/icon-component.css" rel="stylesheet" />
<link href="~/Content/jq22.css" rel="stylesheet" />*@
<script src="~/Scripts/myscroll.js"></script>
<script>
    $(function () {

        $('#banner1').myscroll({
            picEl: $('#move'), //图片父级，不传默认为banner内第1个div
            ctrlEl: $('#ctrl'), //控制条父级，包括小圆点和左右箭头，不传默认为banner内第2个div
            libs: true, //是否创建底部小圆点，true || false,不传默认true
            arrows: true, //是否创建左右箭头，true || false,不传默认true
            autoPlay: true, //是否自动播放，true || false,不传默认true
            time: 8000, //自动播放间隔时间，true || false,不传默认2000
            speed: 400, //图片切换速度，不传默认400
            effect: 'fade' //轮播的改变方式 top || left || fade，不传默认left
        });
        //$('#city').hover(function () {

        //    $('.subclass').css('visibility','visible');
        //})
        //$('.subtext').blur(function () {
        //    $('.subclass').css('visibility', 'hidden');
        //})
        //$('.subtext').hover(function () {

        //    $('.subtext').css('background-color', 'red');
        //})
        //$('.subtext').mouseout(function () {
        //   // $('.smooth-menu').css('background-color', 'white');
        //})
    })

</script>